

<body>
  <h2>Books</h2>
  
  <table>
    <thread>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= link_to user_path(book.user.user_id) do %>
              <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %></td>
            <td><%=link_to show_user_path do %>
              <%= book.title %>
              <% end %></td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
      </tbody>
    </thread>
  </table>
  
  
</body>